@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --view-transition-duration: 1s;
    --navbar-height: 68px; /* 默认值 */
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: var(--view-transition-duration); 
}